*{
    scroll-behavior: smooth;
}
body{
    background-image: url(images/bg\ \(2\).jpg);
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
   
}


#aboutme{
    text-align: left;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: Century gothic;
    font-weight: 900;
    color: rgba(255, 251, 251, 0.308);
}
#p1{
    color:ivory;
}
#sec1{
    background-image: url(images/bg3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#img1{
    border-radius: 50% 40px;
    border:grey solid;
    margin-left: 150px !important;
    margin-top: 15px;

    
    
}
#img1:hover{
    text-decoration: underline black solid;
    
}
.icon{
    margin-left: 8px;
    font-size: 50px;
    padding: 10px;
  
    color:black;  
    
}
.icon:hover{
    color: turquoise ;
}
.social-icons{
    top: 50%;
    transform: translateY(-50%);
    position: sticky !important;
    z-index: 1;
    width: 80px;
    
}
.social-icons ul{
    padding: initial;
}
.social-icons ul li{
    height: 40px;
    width: 40px;
    list-style-type: none;
    padding-left: 12px;
    padding-top: 6px;
    margin-top: 5px;
    color: #fff;
    background-color: #000;
    
}
.social-icons ul li:hover{
    padding-left: 30px;
    width: 80px;
    transition: 0.5s;
    color: turquoise ;
}

#icon1{
    padding-left: 350px;
}
.edu{
    margin-bottom: -200px;
}
#name{
    font-size: 100px;
    text-align: center;
}

#img2{
    margin-top: 50px;
}

#p1{
    font-family: century gothic;
    font-size: 20px;
}
#h2{
    text-align: center;
    font-weight: 300;
    font-size:80px;
    color: rgba(39, 34, 34, 0.308);

    margin-bottom: 30px;
    
}

#edu{
    text-align: justify;
    font-size: 20px;
    font-family:century gothic;
}
#h3,#h4{
    text-align: center;
    font-weight: 600;
    font-size:80px;
    margin-bottom: 30px;
    color: rgba(39, 34, 34, 0.308);


}
#skill{
    font-family: century gothic;
    font-size: 30px;
    
}

#cert{
    font-size: 30px;
}
#imgskill{
     width:600px;
     height:330px;
     margin-top: 90px;
     border: black solid 25px;
}
#h5{
    text-align: center;
    font-weight: 600;
    font-size:80px;
    margin-bottom: 30px;

}

#contact{
    text-align: center;
    background-color:rgba(189, 182, 182, 0.527);

}

#btn1{
    color:yellow;
    border:blanchedalmond;
    
}


#footer{
    background-color: rgba(175, 96, 96, 0.4);
}
#icon2,#icon3{
    text-align: center;
    
    
}






